force-app/main/default/flows/SP_Team_Member_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Employee_List</name>
        <label>Add to New Employee List</label>
        <locationX>969</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>New_Employee_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_TM_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Old_Employee_List</name>
        <label>Add to Old Employee List</label>
        <locationX>1124</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>Old_Employee_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Old_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_TM_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Employee</name>
        <label>Create New Employee</label>
        <locationX>1622</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>New_Employee.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.fHCM2_First_Name_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.fHCM2_Surname_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.fHCM2_Unique_Id_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.WorkerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.EmployeeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Employee_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.StatusAsOf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.CurrentWellnessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.WDC_Wellness_Status_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Location_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Employee_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Employee</name>
        <label>Update Old Employee</label>
        <locationX>1388</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Old_Employee.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.fHCM2_First_Name_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.fHCM2_Surname_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.EmployeeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Employee_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.WorkerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.StatusAsOf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.CurrentWellnessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.WDC_Wellness_Status_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Location_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Old_Employee_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Unique_Id</name>
        <label>Check Unique Id</label>
        <locationX>741</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Read_TM_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Unique Id</defaultConnectorLabel>
        <rules>
            <name>Has_Unique_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMember.fHCM2_Unique_Id_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WDC_Employee_Status_Mapping</targetReference>
            </connector>
            <label>Has Unique Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Existing_Employee</name>
        <label>Have Existing Employee</label>
        <locationX>1525</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Old Employee</defaultConnectorLabel>
        <rules>
            <name>No_New_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Employee</targetReference>
            </connector>
            <label>No New Employee</label>
        </rules>
    </decisions>
    <interviewLabel>SP Team Member Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP Team Member Sync</label>
    <loops>
        <name>Read_TM_Data</name>
        <label>Read TM Data</label>
        <locationX>273</locationX>
        <locationY>298</locationY>
        <assignNextValueToReference>TeamMember</assignNextValueToReference>
        <collectionReference>Get_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Show_TM_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_New_Employee_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_New_Employee_List</name>
        <label>Save New Employee List</label>
        <locationX>123</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Update_Old_Employee_List</targetReference>
        </connector>
        <inputReference>New_Employee_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Employee</name>
        <label>Get Existing Employee</label>
        <locationX>1343</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Existing_Employee</targetReference>
        </connector>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamMember.fHCM2_Unique_Id_c__c</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <outputReference>Old_Employee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeStatus</queriedFields>
        <queriedFields>WorkerType</queriedFields>
        <queriedFields>StatusAsOf</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>EmployeeNumber</queriedFields>
        <queriedFields>CurrentWellnessStatus</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>109</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_TM_Data</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fHCM2_Team_Member_c__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Employee_List</name>
        <label>Update Old Employee List</label>
        <locationX>244</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <inputReference>Old_Employee_List</inputReference>
    </recordUpdates>
    <screens>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>342</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;END&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_TM_Details</name>
        <label>Show TM Details</label>
        <locationX>419</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Unique_Id</targetReference>
        </connector>
        <fields>
            <name>TM_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamMember.Name__c</elementReference>
            </defaultValue>
            <fieldText>TM Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TM_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamMember.fHCM2_Employment_Status_c__c</elementReference>
            </defaultValue>
            <fieldText>TM Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TMType</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamMember.fHCM2_Current_Employment_c__c</elementReference>
            </defaultValue>
            <fieldText>TM Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TM_Unique_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamMember.fHCM2_Unique_Id_c__c</elementReference>
            </defaultValue>
            <fieldText>TM Unique Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TM_Work_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamMember.fHCM2_Location_c__c</elementReference>
            </defaultValue>
            <fieldText>TM Work Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Location_Id</name>
        <label>Get Location Id</label>
        <locationX>1125</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_Existing_Employee</targetReference>
        </connector>
        <flowName>Lookup_Location_Id_by_Name</flowName>
        <inputAssignments>
            <name>WorkLocationName</name>
            <value>
                <elementReference>TeamMember.fHCM2_Location_c__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WDC_Location_Id</assignToReference>
            <name>LocationId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>WDC_Employee_Status_Mapping</name>
        <label>WDC Employee Status Mapping</label>
        <locationX>967</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_Location_Id</targetReference>
        </connector>
        <flowName>Employee_Status_Map</flowName>
        <inputAssignments>
            <name>SP_Employee_Status</name>
            <value>
                <elementReference>TeamMember.fHCM2_Employment_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WDC_Employee_Status</assignToReference>
            <name>WDC_Employee_Status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>New_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>New_Employee_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>Old_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>Old_Employee_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fHCM2_Team_Member_c__x</objectType>
    </variables>
    <variables>
        <name>WDC_Employee_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WDC_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
