force-app/main/default/flows/SP_Team_Member_Sync_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End_TM_Sync_Admin_Mail</name>
        <label>End TM Sync Admin Mail</label>
        <locationX>717</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Team member Sync complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nigel.hughes@sage.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sync complete</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Create_New_Employee</name>
        <label>Create New Employee</label>
        <locationX>967</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>New_Employee.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_First_Name_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_Surname_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_Unique_Id_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.WorkerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.EmployeeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Employee_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.StatusAsOf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Employee.CurrentWellnessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.WDC_Wellness_Status_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_New_Employee_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Employee</name>
        <label>Update Old Employee</label>
        <locationX>452</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>Old_Employee.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_First_Name_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_Surname_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.EmployeeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WDC_Employee_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.WorkerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.StatusAsOf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Employee.CurrentWellnessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Member.WDC_Wellness_Status_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Employee_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Existing_Employee</name>
        <label>Have Existing Employee</label>
        <locationX>697</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Old Employee</defaultConnectorLabel>
        <rules>
            <name>No_New_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Employee</targetReference>
            </connector>
            <label>No New Employee</label>
        </rules>
    </decisions>
    <interviewLabel>SP Team Member Sync Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP Team Member Sync Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_New_Employee_List</name>
        <label>Save New Employee List</label>
        <locationX>966</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>End_TM_Sync_Admin_Mail</targetReference>
        </connector>
        <inputReference>New_Employee</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Employee</name>
        <label>Get Existing Employee</label>
        <locationX>763</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Existing_Employee</targetReference>
        </connector>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Team_Member.fHCM2_Unique_Id_c__c</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <outputReference>Old_Employee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeStatus</queriedFields>
        <queriedFields>WorkerType</queriedFields>
        <queriedFields>StatusAsOf</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>EmployeeNumber</queriedFields>
        <queriedFields>CurrentWellnessStatus</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Member</name>
        <label>Get Team Member</label>
        <locationX>51</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WDC_Employee_Status_Mapping</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Team_Member_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fHCM2_Team_Member_c__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Employee_List</name>
        <label>Update Old Employee List</label>
        <locationX>453</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>End_TM_Sync_Admin_Mail</targetReference>
        </connector>
        <inputReference>Old_Employee</inputReference>
    </recordUpdates>
    <start>
        <locationX>20</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Get_Team_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>WDC_Employee_Status_Mapping</name>
        <label>WDC Employee Status Mapping</label>
        <locationX>556</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Get_Existing_Employee</targetReference>
        </connector>
        <flowName>Employee_Status_Map</flowName>
        <inputAssignments>
            <name>SP_Employee_Status</name>
            <value>
                <elementReference>Get_Team_Member.fHCM2_Employment_Status_c__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WDC_Employee_Status</assignToReference>
            <name>WDC_Employee_Status</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>New_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>Old_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>Team_Member_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WDC_Employee_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
