force-app/main/default/flows/SP_Work_Location_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Location_List</name>
        <label>Add to New Location List</label>
        <locationX>525</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>NewLocationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_WL_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Location</name>
        <label>Create New Location</label>
        <locationX>719</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>NewLocation.SP_Work_Location_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLocation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkLocation.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLocation.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLocation.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkLocation.fHCM2_Latitude_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLocation.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkLocation.fHCM2_Longitude_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Location_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SP Work Location Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP Work Location Sync</label>
    <loops>
        <name>Read_WL_Data</name>
        <label>Read WL Data</label>
        <locationX>275</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>WorkLocation</assignNextValueToReference>
        <collectionReference>Get_Work_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Location_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_New_Location_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_New_Location_List</name>
        <label>Save New Location List</label>
        <locationX>274</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>End_of_FLow</targetReference>
        </connector>
        <inputReference>NewLocationList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Locations</name>
        <label>Get Work Locations</label>
        <locationX>107</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_WL_Data</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fHCM2_Work_Location_c__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_of_FLow</name>
        <label>End of FLow</label>
        <locationX>278</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;END&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Location_Details</name>
        <label>Work Location Details</label>
        <locationX>401</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Location</targetReference>
        </connector>
        <fields>
            <name>Work_Location_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WorkLocation.Name__c</elementReference>
            </defaultValue>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Get_Work_Locations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>NewLocationList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>WorkLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fHCM2_Work_Location_c__x</objectType>
    </variables>
</Flow>
